<MCard Width=510 Height=680 Class="mx-auto my-auto">
    <div style="height:60px;"></div>
    <div class="mt-2 mx-auto text-center" style="width:420px;">
        <MAvatar Size=80>
            <MImage Src="/img/avatar/1.svg">
            </MImage>
        </MAvatar>
        <h5 class="mt-2 mb-12">Welcome to EHP Portal 👋</h5>

        <MTextField @bind-Value="_email"
                    TValue="string"
                    Label="Email"
                    Placeholder="john@example.com"
                    Outlined
                    Class="mb-6"
                    HideDetails="@("auto")">
        </MTextField>

        <MTextField @bind-Value="_password"
                    TValue="string"
                    Label="Password"
                    Class="mb-6"
                    Type="@(_show ? "text" : "password")"
                    Outlined
                    HideDetails="@("auto")"
                    AppendIcon="@(_show ? "mdi-eye" : "mdi-eye-off")"
                    OnAppendClick="() => _show = !_show">
        </MTextField>

        <div class="d-flex align-center mb-6">
            <MTextField @bind-Value="CaptchaInput"
                        Label="Enter Code"
                        Variant="MFieldVariant.Underlined">
            </MTextField>
            <img src="@CaptchaImageUrl" @onclick="GenerateCaptcha" style="cursor:pointer;" />
        </div>

        <div class="d-flex align-center justify-space-between flex-wrap">
            <MCheckbox @bind-Value="_remember" Label="Remember me" Dense></MCheckbox>
            <a class="body-2 text-decoration-none" href="@ForgotPasswordRoute">
                Forgot Password?
            </a>
        </div>

        @if (!string.IsNullOrEmpty(_errorMessage))
        {
            <MAlert Type="AlertTypes.Error" Class="my-4">@_errorMessage</MAlert>
        }

        <MButton Class="mt-11 rounded-4 text-btn white--text" @onclick="HandleLogin" Height=46 Width=340 Color="primary">Login</MButton>


    </div>
</MCard>
